$White-primary: #fff ;
$White-secundary:#EEEDED;
$White-terciary:#989797 ;
$Coral-primary: #FA824C;
$Coral-secundary:#F1DD7B;
$Coral-terciary:#F5E7A1 ;
$Red-primary:#E4572E;
$Red-secundary:#E87554;
$Red-terciary:#F2B2A0;
$Green-primary:#4CA866;
$Green-secundary:#BDDFC7;
$Green-terciary:#BDDFC7;
$Blue-primary:#3C91E6;
$Blue-secundary:#5FA5EA;
$Blue-terciary:82B9EF;
$Black-primary: #000000;
$Black-secundary:#454545;
$Black-terciary:#A2A2A2;


$roboto: 'Roboto', sans-serif;
$pt-mono: 'PT Mono', monospace;


$fs-xxxl: 70px;
$fs-xxl: 40px;
$fs-xl: 30px;
$fs-lg: 18px;
$fs-md: 16px;


$outer-screen-margin: 2rem;